<div class="container">
  <div class="user-details">
    <h3> My Skill Set </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Coding Technologies</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="four columns">
      <h4>Design Aspects</h4>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="four columns">
      <h4>Development Tools</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-bower-line-wordmark colored"></i>
      <i class="devicon-chrome-plain-wordmark colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <p></p>
    </div>
  </div>
</div>
