<div class="container">
  <div class="user-details">
    <h3>Projects</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="project-one" src="{{ "/assets/img/projectone.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Angry Birds Match</h5>
      <li> Introduction To JavaScript</li>
      <p>Matching game utilising object orientated programming in conjunction with jQuery.</p>
      <a class="project-link" href="https://mighty-dawn-82536.herokuapp.com/" target="_blank">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="project-two" src="{{ "/assets/img/projecttwo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Webcam Travel </h5>
      <ul>
        <li> Google Maps API Integration</li>
      </ul>
      <p>Implementation of the Google Map API alongside the Webcam Travel API to assign markers based on latitude/longitude. Based on the location additional information is requested from the Webcam Travel API in association with using a proxy to access weather information for each location.</p>
      <a class="project-link" href="https://web-cam-travel.herokuapp.com/" target="_blank">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="project-three" src="{{ "/assets/img/projectthree.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CodeFund</h5>
      <ul>
        <li> MEAN Stack Application </li>
      </ul>
      <p>Using MongoDB, Express.js, Angular.js and Node.js an app similar to Stackover Flow was created. The basic principle are users that are registered through authentication are allowed to post or answer questions. Based on whether the user posted/answered a question, the recieving user can choose the most relevant answer according to the proposed question.</p>
      <a class="project-link" href="https://codefund.herokuapp.com/" target="_blank">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="project-two" src="{{ "/assets/img/projectfour.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> MYGB </h5>
      <ul>
        <li> Angular Frontend with a Rails Backend API</li>
      </ul>
      <p>A Peronal Gaming App that lets you keep track of the games you own and have played. The premise is using the Rails backend to make an API request to the IGBD database using a script to collect data from games that have the specific key values pairs and adds it to the PostgresSQL database.  </p>
      <a class="project-link" href="https://wdi-project-4-client-hudhayfa.herokuapp.com/" target="_blank">Check it out</a>
    </div>
  </div>
</div>
