<div class="container">
  <div class="user-details">
    <h3>Projects</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="project-one" src="{{ "/assets/img/projectone.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Angry Birds Match</h5>
      <li> Introduction To JavaScript</li>
      <p>Matching game utilising object orientated programming in conjunction with jQuery.</p>
      <a class="project-link" href="https://mighty-dawn-82536.herokuapp.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/projecttwo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Webcam Travel</h5>
      <ul>
        <li> Google Maps API Integration</li>
      </ul>
      <p>Implementation of the Google Map API alongside the Webcam Travel API to assign markers based on latitude/longitude. Based on the location additional information is requested from the Webcam Travel API in association with using a proxy to access weather information for each location.</p>
      <a class="project-link" href="https://web-cam-travel.herokuapp.com/">Check it out</a>
    </div>
  </div>
</div>
